input:
  period: {{ topbeat_period }}
  procs: [".*"]

shipper:

output:
  redis:
    enabled: true
    host: "{{ topbeat_redis_host }}"
    port: {{ topbeat_redis_port }}
    {% if topbeat_redis_proxy is defined -%}
    proxy_url: {{ topbeat_redis_proxy }}
    {% endif -%}
    {% if topbeat_redis_proxy_use_local_resolver is defined -%}
    proxy_use_local_resolver: {{ topbeat_redis_proxy_use_local_resolver | lower }}
    {% endif %}

  file:
    enabled: true
    path: "/var/log/topbeat"
    filename: topbeat.log
    rotate_every_kb: 1000
    number_of_files: 7
